.env
.venv/
.cond/

storage/bronze/*
!storage/bronze/.gitkeep

storage/silver/*
!storage/silver/.gitkeep

storage/gold/*
!storage/gold/.gitkeep

__pycache__/
*.pyc

src/app/test_s3.py
resultado_cnpjs.json
dados_api.json
src/*.txt